{% extends 'layout.html' %}

{% block content %}
<div class="sixteen wide middle aligned column">
    <h2><i class="big circular home icon"></i> Hey {{ username }}</h2>
</div>
<div class="ui divider"></div>
<div class="eight wide column">
    <p>Start a new WiseMote project! Take a look at the examples, manage or share
        your previous projects or start a new experiment. Visit your workspace for more information.
    </p>
</div>


<div class="sixteen wide column">
    <div class="ui divider"></div>
    <div class="ui two column middle aligned relaxed grid basic segment">
        <div class="column">
            <div class="ui segment">
                <h2>About <a href="http://wisebed.eu/site/">Wisebed</a></h2>
                <p>The aim of this project is to provide a multi-level infrastracture of interconnected testbeds of largescale wireless sensor networks for research purposes, pursuing an interdisciplinary approach that integrates the aspects of hardware, software, algorithms, and data.</p>
                <p><a class="ui small blue submit button" href="http://wisebed.eu/site/about-wisebed/project-description-and-goals/">View details</a></p>
            </div>
        </div>
        <div class="ui vertical divider">
            Or
        </div>
        <div class="column">
            <div class="ui segment">
                <h2>What is the Wiselib?</h2>
                <p>The Wiselib is an algorithms library for networked embedded devices. It contains various algorithm classes (for instance, localization or routing) that can be compiled for several platforms such as iSense or Contiki, or the sensor network simulator Shawn.</p>
                <p><a class="ui small blue submit button" href="https://github.com/ibr-alg/wiselib/wiki">View details</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
