{% extends 'layout.html' %}
{% block head %}

{% parent %}
<script type="text/javascript">
	$( document ).ready(function() {
		$('.ui.selection.dropdown').dropdown();
	});
</script>

{% endblock %}
{% block menu %}
	<h1 class="ui header">
		WiseMote.js
		<div class="sub header">Javascript Interface for Remote Controlling WISEBED Nodes</div>
	</h1>
{% endblock %}
{% block message %}
{% if error %}
	<div class="sixteen wide column">
		<div class="ui error message">
			{{ error }}
		</div>
	</div>
{% endif %}
{% endblock %}
{% block content %}
<div class="eight wide column">
	<form method="post" action="/login" class="ui form segment">
		<div class="field">
			<label>Email</label>
			<div class="ui left labeled icon input">
				<input type="email" name="email" placeholder="Please enter your email" required>
				<i class="user icon"></i>
				<div class="ui corner label">
					<i class="icon asterisk"></i>
				</div>
			</div>
		</div>
		<div class="field">
			<label>Password</label>
			<div class="ui left labeled icon input">
				<input type="password" name="password" placeholder="Please enter your password" required>
				<i class="lock icon"></i>
				<div class="ui corner label">
					<i class="icon asterisk"></i>
				</div>
			</div>
		</div>
		<div class="field">
			<label>URN Prefix</label>
			<div class="ui left labeled input">
				<input type="text" name="urnprefix" value="urn:wisebed:uzl1:" disabled="disabled">
			</div>
		</div>

		<div class="ui divider sixteen wide column"></div>
		<p>
			No account yet?
			<a href="http://wisebed.eu/site/index.php/register/">Register here!</a>
		</p>

		<input type="submit" class="ui small blue submit button" value="Login" >
	</form>
</div>
<div class="eight wide column">
	<div class="ui segment">
		<h2>Introduction</h2>
		<p>	 
			The Wisebed Testbed enables the easy deployment of 
			large scale wireless sensor network experiments without the need to buy the 
			expensive sensor node hardware. However, programmers still have to learn an embedded 
			programming language and put up with the tedious debugging characteristics of a large 
			embedded network. To lower these prerequisites for starting with the development of 
			sensor network applications (e.g., for students), this projects aims at creating a 
			remote control interface for wisebed nodes, 
			which allows the easy programming and debugging of these applications inside a Webbrowser.
		</p>
	</div>
</div>
{% endblock %}
