<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Javascript Interface for Remote Controlling WISEBED Nodes{% endblock %}</title>
	<meta charset="UTF-8">
	
	{% block head %}
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/semantic.min.css">
	<link rel="stylesheet" href="/css/master.css">
	<script src="/js/jquery-1.9.1.js"></script>
	<script src="/js/semantic.min.js"></script>
	<script src="/js/master.js"></script>
	{% endblock %}

</head>
<body>
	{% if loading %}
	<div class="ui active dimmer"><div class="ui mini inverted text loader"></div></div>
	<script type="text/javascript">
	var htmlString = $.parseHTML('{{ loading.text }}');
	$(".inverted.text.loader").append(htmlString[0].data);
	</script>
	{% endif %}
	<div class="ui grid">
		<div id="header" class="row">
			{% block menu %} 
			<script type="text/javascript">
			    $( document ).ready(function() {
			        $('.ui.dropdown.item').dropdown();

			        $.get('/list/examples', function(examples) {
			        	$.each(examples, function(index, example) {
			        		$('#examples').append('<a class="item" href="/show/example/'+
			        			example._id.toString()+'">'+example.name+'</a>');
			        	});
			        });

			    });
			</script>
			<div class="ui fixed transparent inverted main menu">
			    <div class="container">
			        <a href="/" class="item">
			            <i class="home icon"></i>WiseMote.js
			        </a>
			        <div class="ui dropdown item">
			          <i class="users icon"></i> Community <i class="dropdown icon"></i>
			            <div class="menu">
			                <a class="item">Share</a>
			                <a class="item">Groups</a>
			            </div>
			        </div>
			        <a href="/workspace" class="item">
			            <i class="wrench icon"></i>Workspace
			        </a>
			        <div class="ui dropdown item">
			          <i class="magic icon"></i> Examples <i class="dropdown icon"></i>
			            <div class="menu" id="examples"></div>
			        </div>
			        <a class="right floated item" href="/logout"><i class="sign out icon"></i>Logout</a>
			    </div>
			</div>
			{% endblock %}
		</div>
	</div>
	<div id="wrapper" class="ui page grid">
		<div id="content" class="row">
			{% block message %}
			{% endblock %}
			{% block content %}
			{% endblock %}
		</div>
		<div id="footer" class="sixteen wide column">
			<div class="ui divider"></div>
			<p>Bachelor thesis Javascript Interface for Remote Controlling WISEBED Nodes Fabian Bormann (Apache Open Source Licence)<br><a href="https://github.com/fabianbormann/WiseMote.js">Visit WiseMote.js on GitHub <i class="github icon"></i></a></p>
		</div>
	</div>
</body>
</html>