{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="/css/codemirror.css">
<style type="text/css">
    .ui.page.grid {padding: 0  3% !important; margin: 0;}
</style>
{% parent %}
<script src="/js/codemirror.js"></script>
<script src="/js/mode/css.js"></script>
<script src="/js/mode/xml.js"></script>
<script src="/js/mode/javascript.js"></script>
<script src="/js/mode/htmlmixed.js"></script>
<script type="text/javascript">
	function displayMessage(type, message) {
		$(' #configMessage > .header').text(message);
		$(' #configMessage ').removeClass( "error success" ).addClass( type );
		$(' #configMessage ').show();
	}

	$( document ).ready(function() {
		var delay;
		var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
			mode: 'text/html',
			tabMode: 'indent'
		});
		editor.on("change", function() {
			clearTimeout(delay);
			delay = setTimeout(updatePreview, 300);
		});

		function updatePreview() {
			var previewFrame = document.getElementById("preview");
			var preview = previewFrame.contentDocument || previewFrame.contentWindow.document;
			preview.open();
			preview.write(editor.getValue());
			preview.close();
		}

        $('.ui.modal').modal();

        $('.ui.checkbox').checkbox();

        $('#nodeConfig').click(function() {
            $('.virtualNode.modal')
            .modal('setting', {
            	closable :false,
			    onHide : function(){
			     	$(' #addMembers ').hide();
			     	$(' #configMessage ').hide();
			    },
			    onApprove : function() {
			     	$.post( "/update/project/{{ project._id.toString() }}/configuration", $( "#projectConfiguration" ).serialize(), function(req) {
			     		$( 'h1' ).text('');
			     		$( 'h1' ).append('<i class="big code icon"></i>'+req.newName);
			     		console.log(req.option)
			     	});
			    }
			 })
            .modal('show');
        });

        $('#deleteProject').click(function() {
        	$('.removeProject.modal')
            .modal('show');
        });

        $(' #saveButton ').click(function () {
        	$(' #projectForm ').submit();
        });

        $(' #addMemberButton ').click(function () {
        	$(' #addMembers ').show();
        });

        $(' #addMember ').click(function () {
        	$.post( "/project/{{ project._id.toString() }}/add/member", { userMail : $(' #newMemberMail ').val() } , function( message ) {
        		displayMessage(message.type, message.content);
			});
        });

        $(' #configMessage > i ').click(function () {
        	$(' #configMessage ').hide();
        })

		setTimeout(updatePreview, 300);
	});
</script>
{% endblock %}

{% block content %}
<div class="ui removeProject modal">
  	<i class="circular inverted red close icon"></i>
  	<div class="header">
    	Remove {{ project.name }} from your workspace
  	</div>
  	<div class="content">
   		If you are <b>sure</b> that you want to <b>remove "{{ project.name }}"</b> from
   		your workspace, click on the remove button below. 
 	</div>
  <div class="actions">
    <div class="ui green button">Cancel</div>
    <a class="ui red button" href="/remove/project/{{ project._id.toString() }}">Remove</a>
  </div>
</div>
<div class="ui virtualNode modal">
    <i class="circular inverted red close icon"></i>
    <div class="header">
        Project configuration
    </div>
    <div class="content">
    	<div class="ui error message" id="configMessage" style="display: none;">
		 	<i class="remove icon"></i>
			<div class="header"></div>
		</div>
    	<form id="projectConfiguration">
		<div class="ui form">
			<div class="field">
				<label for="projectName">Project name</label>
				<input type="text" id="projectName" name="projectName" value="{{ project.name }}">
		  	</div>
		</div>
		<div class="ui divider"></div>
		</form>
		<h2>Members</h2>
		{% for member in project.members %}
			<p>{{ member }}</p>
		{% endfor %}
		<div class="ui divider"></div>
		<button class="ui red button" id="addMemberButton">Add members</button>
		<div id="addMembers" style="display: none;">
			<div class="ui divider"></div>
			<div class="ui form">
				<div class="field">
					<input type="text" id="newMemberMail" placeholder="add email from another member">
				</div>
			</div>
			<button class="blue ui button" id="addMember">Add member</button>
		</div>
    </div>
    <div class="actions">
        <div class="ui button">Cancel</div>
        <div class="ui approve button">Save</div>
    </div>
</div>
<div class="sixteen wide column">
	<h1><i class="big code icon"></i>{{ project.name }}</h1>
</div>
<div class="eight wide column">
	<button id="nodeConfig" class="ui red button">
		<i class="wrench icon"></i>
  		Configuration
	</button>
	<button id="deleteProject" class="ui black button">
		<i class="trash icon"></i>
		Remove from workspace
	</button>
</div>
<div class="eight wide column">
	<div class="right floated ui buttons">
		<button class="ui blue button" id="saveButton">Save</button>
	<div class="or"></div>
	<a href="/workspace" class="ui green button">Start experiment</a>
	</div>
</div>
<div class="sixteen wide column">
	<div class="ui divider"></div>
</div>
<div class="eight wide column">
	<form method="POST" action="/project/{{ project._id.toString() }}/save" id="projectForm">
		<label>Project code:</label>
		<div class="field">
			<textarea id="code" name="code">{{ project.code }}</textarea>
		</div>  
	</form>  
</div>
<div class="eight wide column">
	<label>Preview:</label><br>
	<div class="field">
		<iframe id="preview"></iframe>
	</div>  
</div>
{% endblock %}