<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Javascript Interface for Remote Controlling WISEBED Nodes{% endblock %}</title>

	{% block head %}
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/main.css">
		<script src="/js/jquery-1.9.1.js"></script>
		<script src="/js/semantic.min.js"></script>
		<script src="/js/master.js"></script>
	{% endblock %}

</head>
<body>
	<div class="ui fixed transparent inverted main menu">
		<div class="container">
			<a class="launch item" href="/">
				<div class="title item">
					<b>WiseMote.js</b>
				</div>
			</a>
			<a class="item" href="/home">Home</a>
			<a class="item" href="/experiments/{{ username }}" >Experiments</a>
			<div class="section ui dropdown link item" href="#">Community
				<div class="menu">
					<div class="active item">
						<a href="/">Share</a>
					</div>

					<div class="item">
						<a href="/">Groups</a>
					</div>

					<div class="item">
						<a href="/">Friends</a>
					</div>
				</div>
			</div>
			<div class="section ui dropdown link item" href="#">Examples
				<div class="menu">
					<div class="active item">
						<a href="/">Basics</a>
					</div>
				</div>
			</div>
			<a class="right floated item" href="/logout">Logout</a>
		</div>
	</div>    
	<div id="wrapper" class="ui page grid">
		<h2 class="ui header">
			JSmote for WISEBED Nodes
		</h2>
		<div class="ui divider"></div>
		<div id="content" class="ui grid">
			{% block content %} {% endblock %}
		</div>
		<div id="footer" class="ui grid">
			<div class="ui divider"></div>
			<p>Bachelor thesis Javascript Interface for Remote Controlling WISEBED Nodes Fabian Bormann (Apache Open Source Licence) - <a href="https://github.com/fabianbormann/WiseMote.js">WiseMote.js on GitHub</a></p>
		</div>
</body>
</html>