{% extends 'layout.html' %}

{% block content %}
<div class="eight wide column">
    <h1><i class="big code icon"></i>Projects</h1>
    <div class="ui divider"></div>
    <p class="infoline">Create a empty project and share it with other members. Clone or write some code snippets and start a experiment.</p>
    <a class="ui small blue submit button" id="newProjectButton" onclick="showProjectForm();">Create a new project</a>
    <div id="newProjectForm" style="display: none">
        <form id="reservationForm" class="ui form segment" action="/{{ username }}/new/project" method="POST">
            <div class="field">
            <label>Name</label>
            <div class="ui labeled input">
                <input type="text" name="projectName" placeholder="Your projectname" required>
                <div class="ui corner label">
                    <i class="asterisk icon"></i>
                </div>
            </div>
            </div>
            <div class="field">
                <label>Members</label>
                <input type="text" name="members" placeholder="Enter additional members">
            </div>   
            <div class="ui divider"></div>
            <button type="submit" class="ui small blue submit button">Create project</button>
        </form>
    </div>
    <table class="ui table segment">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Members</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
        {% if projects %}
            {% for project in projects %}
                <tr class="clickable" onclick="document.location = '/{{ username }}/project/{{ project._id.toString() }}';">
                    <td>{{ loop.index }}</td>
                    <td>{{ project.name }}</td>
                    <td>{{ project.members }}</td>
                    <td>{{ project.date.toString() }}</td>
                </tr>
            {% endfor %}
        {% else %}
        <tr class="warning">
            <td colspan="4">You don't have any projects yet.</td>
        </tr>
        {% endif %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>
<div class="eight wide column">
    <h1><i class="big lab icon"></i>Experiments</h1>
    <div class="ui divider"></div>
    <p class="infoline">Visit currently running experiments or start a new one.</p>
    <a class="ui small blue submit button" id="newExperimentButton" onclick="showExperimentForm();">Start a new experiment</a>
    <div id="newExperimentForm" style="display: none">
        <form id="reservationForm" class="ui form segment" action="/{{ username }}/experiment/new" method="POST">
            <div class="ui selection dropdown">
                <input type="hidden" name="useProject">
                <div class="text">Project</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    {% for project in projects %}
                        <div class="item" data-value="{{ loop.index }}">{{ project.name }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="field">
                <label>Node URN's (use "," as delimiter)</label>
                <textarea name="urns"></textarea>
            </div>
            <div class="field">
                <label>Duration</label>
                <input type="text" name="duration" placeholder="Enter duration in minutes">
            </div>
            <div class="field">
                <label>Offset</label>
                <input type="text" name="offset" placeholder="Enter the offset in minutes">
            </div>   
            <div class="ui divider"></div>
            <button type="submit" class="ui small blue submit button">Start reservation</button>
        </form>
    </div>
    <table class="ui table segment">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>State</th>
                <th>Nodes</th>
            </tr>
        </thead>
        <tbody>
        {% if experiments %}
            {% for experiment in experiments %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ experiment.name }}</td>
                    <td>{{ experiment.nodes }}</td>
                    <td>{{ experiment.time }}</td>
                </tr>
            {% endfor %}
        {% else %}
        <tr class="warning">
            <td colspan="4">There are no runing experiments.</td>
        </tr>
        {% endif %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>
{% endblock %}