{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="/css/pikaday.css">
<link rel="stylesheet" href="/css/jquery.timepicker.css">
{% parent %}
<script src="/js/jquery.timepicker.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/pikaday.js"></script>
<script type="text/javascript">

    var selectedNodes = []; 

    function refreshSelectedNodes (id, action) {
        if (action) {
            selectedNodes.push(id)
        }
        else {
            console.log(id)
            selectedNodes.splice( $.inArray(id, selectedNodes), 1);
        }

        $("#nodeSelection").val(JSON.stringify(selectedNodes));

        if(selectedNodes.length > 0) {
            var inSelectedNodes = "";
            for (var i = selectedNodes.length - 1; i >= 0; i--) {
                inSelectedNodes += '<div class="green ui node label">'+selectedNodes[i]+'<i class="delete icon" id="'+selectedNodes[i]+'"></i></div>';
            };

            $("#selectedNodes")
                .removeClass( "yellow" )
                .html( inSelectedNodes );
        }
        else {
            $("#selectedNodes")
                .addClass( "yellow" )
                .html( "You need to select any nodes" );
        }

        $('.delete.icon').click(function() {
            var hexId = "0"+$( this ).attr('id').substring($( this ).attr('id').indexOf("x"));
            $("#"+hexId).removeAttr('checked');
            refreshSelectedNodes($( this ).attr('id'), false);
        });
    } 

    $( document ).ready(function() {

        $('.ui.modal')
            .modal()
        ;

        $('#selectNodes').click(function() {
            $('.nodes.modal')
            .modal('setting', 'closable', false)
            .modal('show');
        });

        $('.projectSelection')
            .dropdown({
                onChange: function(key, value) {
                    $("#selectedProject")
                        .removeClass( "yellow" )
                        .addClass( "green" )
                        .html(value);
            }
        });

        var startDatePicker = new Pikaday(
        {
            field: document.getElementById('startDatePicker'),
            firstDay: 1,
            minDate: new Date(moment().year()+'-01-01'),
            maxDate: new Date((moment().year()+1)+'-12-31'),
            yearRange: [moment().year(),(moment().year()+1)],
            onSelect: function() {
                var date = document.createTextNode(this.getMoment().format('Do MMMM YYYY') + ' ');
            }
        });

        startDatePicker.setMoment(moment());

        var endDatePicker = new Pikaday(
        {
            field: document.getElementById('endDatePicker'),
            firstDay: 1,
            minDate: new Date(moment().year()+'-01-01'),
            maxDate: new Date((moment().year()+1)+'-12-31'),
            yearRange: [moment().year(),(moment().year()+1)],
            onSelect: function() {
                var date = document.createTextNode(this.getMoment().format('Do MMMM YYYY') + ' ');
            }
        });

        endDatePicker.setMoment(moment());

        $('#startTimePicker').timepicker({ 'timeFormat': 'H:i' });
        $('#startTimePicker').timepicker('setTime', new Date());

        $('#endTimePicker').timepicker({ 'timeFormat': 'H:i' });
        timeOffset = new Date();
        timeOffset.setMinutes(timeOffset.getMinutes()+30);

        $('#endTimePicker').timepicker('setTime', timeOffset);

        $.get("/testbed/nodes", function(nodes) {
            var testbedNodes = JSON.parse(nodes);

            $.each(testbedNodes, function(index, node) {
                var nodeSensors = "";

                $.each(node.capability, function(id, sensor) {
                    var sensorname = sensor.name;
                    node.hexId = node.id.substring(node.id.indexOf("x"));
                    sensorname = sensorname.substring(sensorname.indexOf("capability:")+11);
                    nodeSensors += ','+sensorname;
                });

                $('#nodeTable > tbody:last').append('<tr><td>'+index+'</td><td>'+node.id+'</td><td>'+node.nodeType+'</td><td>'+nodeSensors+'</td><td><div class="ui large checkbox"><input type="checkbox" id="0'+node.hexId+'" name="'+node.id+'"><label></label></div></td></tr>');
                
                $('.ui.checkbox')
                    .checkbox({
                        onEnable: function() {
                            refreshSelectedNodes(this[0].name, true);
                        },
                        onDisable: function() {
                            refreshSelectedNodes(this[0].name, false);
                        }
                    });
            });
        });
    });
</script>
{% endblock %}

{% block content %}
<div class="eight wide column">
    <h1><i class="big code icon"></i>Projects</h1>
    <div class="ui divider"></div>
    <p class="infoline">Create a empty project and share it with other members. Clone or write some code snippets and start a experiment.</p>
    <a class="ui small green submit button" id="newProjectButton" onclick="showProjectForm();">Create a new project</a>
    <div id="newProjectForm" style="display: none">
        <form id="reservationForm" class="ui form segment" action="/new/project" method="POST">
            <div class="field">
                <label>Name</label>
                <div class="ui labeled input">
                    <input type="text" name="projectName" placeholder="Your projectname" required>
                    <div class="ui corner label">
                        <i class="asterisk icon"></i>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Members</label>
                <input type="text" name="members" placeholder="Enter additional members">
            </div>   
            <div class="ui divider"></div>
            <button type="submit" class="ui small green submit button">Create project</button>
        </form>
    </div>
    <table class="ui table segment">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Members</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% if projects %}
            {% for project in projects %}
            <tr class="clickable" onclick="document.location = '/project/{{ project._id.toString() }}';">
                <td>{{ loop.index }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.members }}</td>
                <td>{{ project.date.toString() }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr class="warning">
                <td colspan="4">You don't have any projects yet.</td>
            </tr>
            {% endif %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>
<div class="eight wide column">
    <h1><i class="big lab icon"></i>Experiments</h1>
    <div class="ui divider"></div>
    <p class="infoline">Visit currently running experiments or start a new one.</p>
    <a class="ui small green submit button" id="newExperimentButton" onclick="showExperimentForm();">Start a new experiment</a>
    <div id="newExperimentForm" style="display: none">
        <form id="reservationForm" class="ui form segment" action="/experiment/start" method="POST">
            <input type="hidden" name="nodeSelection" id="nodeSelection">
            <div class="ui nodes modal">
                <i class="circular inverted red close icon"></i>
                <div class="header">
                    Add nodes
                </div>
                <div class="content ui page grid">
                    <h3>Nodes</h3>
                    <div id="nodeTableContainer" class="sixteen wide column">
                        <table id="nodeTable" class="ui celled table segment">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Node URN</th>
                                    <th>Type</th>
                                    <th>Sensors</th>
                                    <th>Selection</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="actions">
                    <div class="ui button">Cancel</div>
                    <div class="ui button">OK</div>
                </div>
            </div>
            <h2>Start experiment</h2>
            <div class="ui divider"></div>
            <div class="field">
                <label>Name (optional)</label>
                <input type="text" name="experimentName" placeholder="Project name will be used as default"> 
            </div>
            <div class="ui divider"></div>
            <div id="selectedProject" class="ui small yellow message">Please select a project</div>
            <div class="ui pointing projectSelection dropdown labeled icon button">
                <i class="code icon"></i> Projects
                <input type="hidden" name="useProject">
                <div class="menu">
                    {% for project in projects %}
                    <div class="item" data-value="{{ project._id.toString() }}">{{ project.name }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="ui divider"></div>
            <div id="selectedNodes" class="ui small yellow message">You need to select any nodes</div>
            <div class="field">
                <label>Node URN's</label>
                <div class="nodes"></div>
            </div>
            <button type="button" class="ui small green labeled icon button" id="selectNodes"><i class="add icon"></i> Select nodes</button>
            <div class="ui divider"></div>
            <div class="field">
                <label>Start</label>
                <div class="ui grid">
                    <div class="eight wide column">
                        <div class="ui labeled input">
                            <input type="text" name="startDate" id="startDatePicker"> 
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="eight wide column">
                        <div class="ui labeled input">
                            <input type="text" name="startTime" id="startTimePicker"> 
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>End</label>
                <div class="ui grid">
                    <div class="eight wide column">
                        <div class="ui labeled input">
                            <input type="text" name="endDate" id="endDatePicker"> 
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="eight wide column">
                        <div class="ui labeled input">
                            <input type="text" name="endTime" id="endTimePicker"> 
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
            <div class="ui divider"></div>
            <button type="submit" class="ui small green labeled icon submit button"><i class="play icon"></i>Start reservation</button>
        </form>
    </div>
    <table class="ui table segment">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>State</th>
                <th>Nodes</th>
            </tr>
        </thead>
        <tbody>
            {% if experiments %}
            {% for experiment in experiments %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ experiment.name }}</td>
                <td>{{ experiment.nodes }}</td>
                <td>{{ experiment.time }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr class="warning">
                <td colspan="4">There are no runing experiments.</td>
            </tr>
            {% endif %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>
{% endblock %}