body {font-family: 'Open Sans', sans-serif; background: url(../images/background_pattern.png); padding: 0; margin: 0;}

a {text-decoration: none; color: #046380}

#header { background: rgba(30,30,30,0.8); margin-bottom: 60px; border-bottom: 1px solid #DDDDDD}

#header .ui.header {margin: 0 auto; width: 33%; padding: 40px; color: rgba(255,255,255,.9)}
#header .ui.header .sub.header {color: rgba(255,255,255,.6)}

.infoline {height: 70px;}

tr.clickable {cursor: pointer;}

#nodeTableContainer {height: 300px; overflow: scroll}

#preview {width: 100%; min-height: 330px; background-color: #fff; border: none;}
.CodeMirror.cm-s-default {min-height: 330px;}

.ui.grid.basic.segment .column {margin: 10px 0 0 0;}

.ui.node.label {margin: 0.25em !important;}

#footer {margin-top: 60px}

.ui.error.message {margin-bottom: 15px;}